<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <title>food ordering</title>
</head>
<body>
    order details : 
    <p>
        <ul>
            <%=food%>
        </ul>
    </p>
</body>
</html>