<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>The HTML5 Herald</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">
</head>

<body>
  <h1>this is result page</h1>
  <div>
    <h1>number : <%= number%></h1>
    <h1>time spent : <%= during%></h1>
    <h5>Result</h5>
    <ul>  
    <%
      for(var i=0; i<resArr.length; i++) {
    %>
      <li><%=resArr[i]%></li>
    <%
      }
    %>
  </ul>
  </div>
</body>
</html>